@import '../../../abstract.scss';
.card {
  $root: &;
  background: $white;
  margin: $standard-space;
  padding: $standard-space;
  border-radius: $standard-space;
  height: 25rem;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: .1rem .1rem .5rem 0 rgba(0,0,0,0.75);
  cursor: pointer;
  &__text {
    font-size: 1.5rem;
    &--question {
      display: inline;
    }
    &--answer {
      display: none;
    }
  }
  &--flipped {
    #{$root}__text {
      &--question {
        display: none;
      }
      &--answer {
        display: inline;
      }
    }
  }
}
